.navigation-menu {
   
    display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1; /* Defina um valor maior que o z-index do botão "Voltar" */
  margin-top: 10px; /* Espaço para evitar sobreposição */
  }
  
  .navigation-menu a {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #555555;
  }
  
  .navigation-menu a span {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 5px;
  }